<template>
  <div class="form-and-ul">
    <form class="text-center form-group" submit.trigger="addTodo()">
      <input type="text" value.bind="todoDescription">
      <button type="submit" disabled.bind="!todoDescription">Add Todo</button>
    </form>

    <div class="ul-div">
      <ul class="text-center list-group">
        <li repeat.for="todo of todos">
          <input type="checkbox" checked.bind="todo.done" change.delegate="changeTodo(todo)">
          <span css="text-decoration: ${todo.done ? 'line-through' : 'none'}">
            ${todo.description}
          </span>
        <button click.trigger="removeTodo(todo)">Remove</button>
        </li>
      </ul>
      ${loadTodo()}
    </div>
  </div>

</template>
